th {
    text-align: left;
}
td, th{
    padding-left: 20px;
}
td:first-child, th: first-child{
    padding-left: 0;
}
th{
    margin-bottom: 20px;
}



body{
    padding: 40px 20px 40px 20px; font-family: Arial, Helvetica;
     background: #fcfcfc;
}
header{
    display: flex; 
}

h1{
    font-size:x-large; font-weight: lighter; margin-top: 40px;
}
.div0{
    flex-grow: 1; font-size: xx-large; 
}
.div1 {  
    display: flex; align-items: center;
 }
header a{ margin-left: 10px; background: rgba(0, 0, 200, 0.3); border-radius: 3px;
     display: inline-block; padding: 2px; font-size: x-small; text-decoration: none;
}
header span {
    display: block; font-size: small; font-weight: lighter;
}
.div2{
     width: 105px; height: 105px; border-radius: 100%; background:#666;
     overflow: hidden; -webkit-border-radius: 50px; -moz-border-radius: 50px;
     display: flex; flex-direction: column; 
     }
thead th div { margin-bottom: 10px;}
tbody{ text-align: left;}
.div3{ 
    font-weight: bold; color: dodgerblue; vertical-align: top;
}
.div4 { font-weight: bold;}
.div5 { font-weight:lighter;}
.div{
    margin-top: 30px; margin-bottom: 30px; display:grid; grid-template-columns: 1fr 1fr;
}
.div6 { 
    display: flex; margin:5px; padding: 30px; background: white; 
    border-radius: 10px; align-items: center; box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.2);
}
.div7 {
     height: 100%; font-size: 400%; color: deepskyblue; margin-right: 30px;
    }
.div8 { flex-grow: 1; }
.div9{ font-weight: bold; color: dodgerblue;}
.div10 { 
    display: flex; margin:5px; 
    padding: 30px; background: #eee; border-radius: 10px; align-items: center;
}
.div11{ 
    height: 100%; font-size: 400%; color: deepskyblue; margin-right: 30px;
}
footer{
    margin-top: 20px; display:grid; grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer1{
    display: flex; align-items:center; padding: 20px 0 20px 0;
}
.footer2{
    width:6px; height:6px; background:dodgerblue; border-radius: 100%;
}
.footer3{
    border: 1px solid #ccc; flex-grow: 1;
}
.footer4{
    color: #666;
}
.footer5{
    margin-bottom: 10px;
}
.footer6{
    font-weight: lighter; font-size: x-small;
}

